<div class="container">
    <img src="../assets/logo.png">
    <div class="text">
        <p>This is a demo of the library. The view presented below will render exactly as it looks, if you install and inject the component into your project.</p>
        <p>If you notice any issues or bugs, please create an issue in GitHub repository or you can fix it by yourself and create a pull request. I strongly encourage you to create and extend the functionality of this library by pushing your branch with code covered with tests. Enjoy.</p>
    </div>
</div>

<ngx-infi-markdown
    [styles]="articleStyles"
></ngx-infi-markdown>
